# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\PRO\FORMATION_CONCEPTEUR_DEVELOPPEUR\Formation_APF\FRAMEWORK JAVASCRIPT\Angular CLI\Premier projet\angular-entreprise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
